#header {
    margin:20px;
    text-align: center;
}

#gif_container {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.gif {
    border-radius: 5px;
    max-width:250px;
    flex: 1 0 30%;
    padding:5px;
}